.container {
  width: 480px;
  padding: 4;
  margin: 0 auto;
  background-color: aqua;
}

.another-element {
  height: 120px;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #007bff;
}

.circle1 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #112eed;
}