html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
body {
	box-sizing: border-box;
	background-color: #f2f2f2;
}
/* container */
.container {
	max-width: 1200px;
	margin: 0 auto;
}
h2 {
	text-align: center;
	font-size: 1.6rem;
}
h3 {
	margin: 0;
	font-weight: 700;
	font-family: "Libre Baskerville", serif;
}
/* Make images Responsive */
img {
	max-width: 100%;
}

.main-content {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.entry,
.content {
	background-color: #fff;
}

/* Apply to Smaller Device */
@media (min-width: 480px) {
	.entry {
		flex: 0 0 calc(50% - 1rem);
	}
}

@media (min-width: 768px) {
	.entry {
		flex: 0 0 calc(33.33% - 1rem);
	}
}
