/* Using custom properties in CSS  known as CSS variables, */
/* Define custom properties at the root (global) level */
:root {
	--mainFont: "Krub", sans-serif;
	--white: #ffffff;
	--primary: #ffc107;
	--secondary: #0097a7;
	--gray: #757575;
	--dark: #212121;
}
html {
	box-sizing: border-box;
	min-height: 100%;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: var(--mainFont);
}

.main-navigation {
	max-width: 1200px;
	margin: 0 auto;
	padding: 1rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-navigation a {
	color: var(--dark);
	text-decoration: none;
	font-size: 1.4rem;
	margin-bottom: 1.4rem;
}

@media (min-width: 768px) {
	.main-navigation {
		flex-direction: row;
		justify-content: space-between;
	}
}

.hero {
	height: 450px;
	background-image: url(../img/hero.jpg);
	position: relative;
}

.hero::after {
	content: "";
	background-color: rgba(0, 0, 0, 0.7);
	display: block;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
}
